/*- 🎨 Base Style
 *
 * Responsible for all typography,
 * variables, spacing, and everything
 * ~only-view-way~ pages of SPA alien-registration challenge
 *
 * _ps_. Inspired on "cheffplate" settings
 *
 * cheffplate! by @guicheffer
 * https://github.com/guicheffer/cheffplate
 *
 *
 *
-*/

@import 'reset';

@import 'palette';
@import 'typography';

@import 'layout';

@import '../main/panel';
@import '../main/sidebar';
@import '../footer/footer';

font-face-normal()
font-face-bold()

::selection {
  background: $color-primary;
  color: $white-base;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: $black-base;
  background-position: 50% 50%;
  background-size: 100%;
  color: $white-base;
  line-height: $font-size-base + $spacing-xsmall;
}

body, input, a {
  color: $white-base;
  font-family: 'Mukta', Helvetica, sans-serif;
  font-size: $font-size-base;
  font-style: normal;
  font-weight: $font-weight-normal;
  text-decoration: none;
}

.particles-js-canvas-el {
  $Z-INDEX = -10;

  left: 0;
  position: absolute;
  top: 0;
  z-index: $Z-INDEX;
}

.alien-registration {
  alien-registration-layout();
  alien-registration-layout-responsive();

  &__panel {
    panel();
    panel-responsive();
  }

  &__sidebar {
    sidebar();
    sidebar-responsive();
  }

  &__footer {
    footer();
    footer-responsive();
  }
}
