/*- 🎨 Base layout
 *
 * Responsible for all commons layout
 *
-*/

@import 'container';
@import 'spacing';

$color-primary = $gray-abbey;

alien-registration-layout() {
  &__container {
    container();
    container-responsive();

    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 95vh;

    & > div {
      flex: 1;
      width: 100%;
    }
  }
}

alien-registration-layout-responsive() {}
