/*- 🎨 Base layout
 *
 * Responsible for all commons layout
 *
-*/

@import 'container';
@import 'spacing';

alien-registration-layout() {
  &__container {
    container();
    container-responsive();
  }
}

alien-registration-layout-responsive() {}
