/*- 🎨 Color palette
 *
 * Responsible for all color palette on SPA type your email challenge project
 *
-*/

// Colors itself (From my mind and defaults)
$black = #333333;

$blue = #3A76BA;
$blue-01 = #529ec5;

$gray = #C7C7C7;
$gray-01 = #2C9FDA;
$gray-02 = #535659;
$gray-03 = #D7D7D8;
$gray-04 = #D0D0D0;
$gray-05 = #D0D0D0;
$gray-06 = #A5A5A5;
$gray-07 = #6d6666ab;

$white = #FFFFFF;

$red = #DB2437;
$red-01 = #FFCFBF;

$orange = #FA5622;
$orange-01 = #A72A02;

$green = #10A210;

$color-primary = $orange;
$color-secondary = $orange-01;

$color-validate-primary = $green;
$color-validate-secondary = darken($green, 50%);

// Given names (I used Name that Color project for this | http://chir.ag/projects/name-that-color/)
$black-base = $black;

$blue-base = $blue;
$blue-action = $blue-01;

$gray-base = $gray;
$gray-cod = $gray-01;
$gray-abbey = $gray-02;
$gray-eock = $gray-03;
$gray-bofs = $gray-04;
$gray-ntd = $gray-05;
$gray-border = $gray-06;
$gray-orkshon = $gray-07;

$white-base = $white;

$red-base = $red;
$red-hahae = $red-01;
