/*- ⭐️ Add new component style
 *
-*/

@import 'container';
@import 'spacing';

add-new() {
  border-top: 1px dashed $white-base;
  padding-top: $spacing-large;

  .add-new {
    &__label { display: none; }

    &__field {
      align-items: center;
      display: flex;
      margin: $spacing-xsmall 0 0;
      flex-direction: column;
    }

    &__input {
      background: $white-sdfoi;
      border-radius: $spacing-xxsmall;
      border: 0;
      color: $white-base;
      outline: none;
      padding: $spacing-xxsmall $spacing-xsmall;
      width: 100%;
    }

    &__species {
      display: flex;
      flex: 1;
      justify-content: space-between;
      margin: $spacing-base 0;
      width: 100%;
    }

    &__specie {
      label {
        cursor: pointer;
        opacity: 0.2;
        transition: opacity .2s ease-in-out;
        will-change: opacity;

        &:hover { opacity: 0.5; }
      }

      [type=checkbox] {
        display: none;

        &:checked + label {
          font-weight: $font-weight-bold;
          opacity: 1;
        }
      }
    }

    &__go {
      background: $white-base;
      border-radius: $spacing-xxsmall;
      border: 0;
      font-size: $font-size-base;
      line-height: $font-size-large;
      margin: 0 $spacing-small 0;
      outline: 0;
      padding: $spacing-xxsmall $spacing-base;
      text-transform: uppercase;
      transition: background .2s linear, color .2s linear;
      width: 100%;
      will-change: background, color;

      &:not([disabled]) {
        cursor: pointer;

        &:hover {
          background: $black-base;
          color: $white-base;
        }

        &:active { background: darken($black-base, 50%); }
      }

      &[disabled] { background: $gray-disabled; }
    }
  }
}

add-new-responsive() {
  +mq-medium-up() {
    .add-new {
      &__field {
        flex-direction: row;
      }

      &__input { width: auto; }

      &__species {
        justify-content: space-around;
        margin: auto;
        width: auto;
      }

      &__go {
        border-radius: $spacing-small;
        font-size: $font-size-small;
        line-height: auto;
        width: auto;
      }
    }
  }

  +mq-large-up() {
    border: 0;
    padding: 0;

    .add-new {
      &__label {
        display: block;
        font-weight: $font-weight-bold;

        &::before { content: '👇🏼'; }
      }
    }
  }
}
