/*- ⭐️ Aliens list style
 *
-*/

@import 'container';
@import 'spacing';

list() {
  .list {
    &__table {
      $max-height = 400px;

      border-radius: $spacing-xxsmall;
      border: 1px solid $white-base;
      margin: $spacing-large 0 0;
      max-height: $max-height;
      overflow-y: scroll;
      padding: $spacing-xsmall;
      width: 100%;
    }

    &__itself {
      width: 100%;

      th:not(:first-child),
      td:not(:first-child) { text-align: center; }

      th {
        text-align: left;
        border-bottom: 1px solid $white-base;
      }

      td {
        &:not(:first-child) { padding: $spacing-xxsmall $spacing-base; }
      }

      a { font-weight: $font-weight-bold; }
    }

    &__links {
      display: flex;
      margin: $spacing-large 0 0;
    }

    &__link {
      margin: 0 0 $spacing-small;

      a { color: $blue-action; }
      &:first-child { margin-left: 0; }
    }
  }
}

list-responsive() {
  +mq-medium-up() {
    .list {
      &__wrapper {
        flex: 1;
        margin-left: $spacing-large;
      }
    }
  }
}
