/*- ⭐️ Aliens list style
 *
-*/

@import 'container';
@import 'spacing';

list() {
  .list {
    &__wrapper { position: relative; }

    &__table {
      $max-height = 400px;
      $min-height = 80px;

      border-radius: $spacing-xxsmall;
      border: 1px solid $white-base;
      margin: $spacing-large 0 0;
      min-height: $min-height;
      padding: ($spacing-xlarge + $spacing-xxsmall + ($spacing-xxsmall / 2)) $spacing-xsmall $spacing-xsmall;
      position: relative;
      width: 100%;

      .table {
        &__scrollable {
          max-height: $max-height;
          overflow-y: scroll;
        }

        &__itself {
          width: 100%;

          @keyframes show-just-inserted {
            0% {
              background: $white-base;
              opacity: 0;
            }
            100% {
              background: none;
              opacity: 1;
            }
          }

          tr {
            opacity: 1;

            &[data-just-inserted=true] { animation: show-just-inserted 1s ease-out; }
          }

          th:not(:first-child),
          td:not(:first-child) { text-align: center; }

          th {
            border: none;
            color: transparent;
            line-height: 0;
            padding-bottom: 0;
            padding-top: 0;
            padding-top: 0;
            user-select: none;
            white-space: nowrap;

            &:first-child {
              $min-width = 160px;

              min-width: $min-width;

              div { margin-left: ($spacing-base * -1) }
            }

            div {
              background: transparent;
              color: $white-base;
              line-height: normal;
              padding: $spacing-xsmall $spacing-base;
              position: absolute;
              top: 0;
              z-index: 20;

              span { font-size: $font-size-small; }
            }
          }

          td {
            &:first-child {
              $max-width = 160px;

              cursor: default;
              max-width: $max-width;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            &:not(:first-child) { padding: $spacing-xxsmall $spacing-base; }

            &[colspan] {
              color: $red-base;
              padding: $spacing-small;
            }

            &.table__delete-it {
              position: relative;
              width: ($spacing-xxxlarge + $spacing-small);

              & > a,
              & > p { position: absolute; }

              & > a {
                transition: transform .2s ease-in-out;

                &:hover { transform: rotateZ(-90deg); }
              }

              & > p { padding-left: $spacing-xxsmall; }

              &, a { font-size: $font-size-small; }
            }
          }

          th:not(:first-child):not(:last-child),
          td:not(:first-child):not(:last-child) { display: none; }

          a { font-weight: $font-weight-bold; }
        }
      }
    }


    &__warning {
      display: block;
      margin: $spacing-small 0 $spacing-xlarge;
      text-align: right;
      width: 100%;

      a {
        color: $yellow-base;
        font-size: $font-size-small;
        padding-left: $spacing-large - $spacing-xxsmall;
        position: relative;

        &:hover { text-decoration: underline; }
        &::before {
          content: '⚠️';
          left: 0;
          margin-right: $spacing-xxsmall;
          position: absolute;
        }
      }
    }

    &__links {
      bottom: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin: $spacing-large 0 0;
      position: relative;
      right: 0;
      user-select: none;
    }

    &__link {
      margin: 0 $spacing-small 0 0;

      a {
        color: $blue-action;
        font-size: $font-size-small;

        &[disabled] {
          color: $gray-base;
          font-weight: $font-weight-bold;
          pointer-events: none;
        }
      }

      &:last-child { margin-right: 0; }
    }
  }
}

list-responsive() {
  +mq-medium-up() {
    .list {
      &__table {
        .table {
          &__itself {
            th:not(:first-child):not(:last-child),
            td:not(:first-child):not(:last-child) { display: table-cell; }
          }
        }
      }

      &__link a { font-size: $font-size-base; }
    }
  }

  +mq-large-up() {
    .list {
      &__wrapper {
        flex: 1;
        margin-left: $spacing-large;
      }

      &__table {
        $shadow-size = $spacing-small;

        &.scrollable {
          $height = $spacing-base;

          &::after {
            content: '';
            height: $height;
            left: 0;
            position: absolute;
            width: 100%;
            z-index: 10;
          }

          &--bottom::after {
            background: linear-gradient(hsla(0,0%,100%,.001), $gray-opaque $shadow-size);
            bottom: 0;
          }

          &--top::after {
            background: linear-gradient(to top, hsla(0,0%,100%,.001), $gray-opaque $shadow-size);
            height: $spacing-xxlarge;
            top: 0;
          }
        }

        .table {
          &__itself {
            td.table__delete-it { width: $spacing-xxxlarge; }
          }
        }
      }

      &__link a {
        &:hover { text-decoration: underline; }

        &::before {
          content: '👽';
          float: left;
          font-size: $font-size-small;
          margin-right: $spacing-xxsmall;
          width: $spacing-base;
        }

        &[disabled]::before { content: '👾'; }
      }
    }
  }
}
