/*- ⭐️ Panel style
 *
 * Our main panel styles and guider
 *
-*/

@import 'container';
@import 'spacing';

@import '../main/add-new'
@import '../main/list'

panel() {
  display: flex;
  justify-content: space-around;
  width: 100%;

  .panel {
    &__content {
      background: $gray-xcviu;
      border-radius: $spacing-base;
      box-shadow: $spacing-xxsmall $spacing-xxsmall $spacing-xxxlarge $spacing-base $gray-cvoiw;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      min-height: 95vh;
      padding: $spacing-small;
      width: 100%;
    }

    &__add-new {
      add-new();
      add-new-responsive();
    }

    &__list {
      list();
      list-responsive();
    }
  }
}

panel-responsive() {
  +mq-large-up() {
    justify-content: center;

    .panel {
      &__content {
        $min-width = 930px;

        box-sizing: content-box;
        flex-direction: row;
        justify-content: space-between;
        margin-top: $spacing-xxlarge;
        margin: auto;
        min-height: auto;
        min-width: $min-width;
        padding: $spacing-large;
        width: 50%;
      }

      &__homepage {
        .panel__add-new {
          flex: 1;
          margin-left: $spacing-large;
        }
      }
    }
  }
}
