/*- ⭐️ Sidebar style
 *
 * Our simple sidebar styles
 *
-*/

@import 'container';
@import 'spacing';
@import 'palette';

sidebar() {
  $width = 100%;

  margin: 0 0 $spacing-large;
  width: $width;

  & a:hover { text-decoration: underline; }

  .sidebar {
    &__title { margin: 0 0 $spacing-small; }
    &__total { font-weight: $font-weight-bold; }

    &__species {
      display: flex;
      flex-wrap: wrap;
      clear: both;
    }

    &__specie {
      margin: 0;
      padding-left: $spacing-large - $spacing-xxsmall;
      padding-top: $spacing-small;
      position: relative;
      width: 50%;

      a {
        &::before {
          content: '⭐️';
          font-size: $font-size-small;
          left: 0;
          position: absolute;
        }

        &[data-current=true]::before { content: '👾'; }
      }
    }
  }
}

sidebar-responsive() {
  +mq-large-up() {
    $width = 200px;

    border-radius: $spacing-xsmall;
    border: 1px solid $white-base;
    margin: initial;
    padding: $spacing-base;
    width: $width;

    .sidebar {
      &__species { display: block; }

      &__specie {
        border-top: 1px dashed $black-base;
        margin: $spacing-small 0;
        width: auto;

        &:first-child {
          border-top: 0;
          margin-top: 0;
          padding-top: $spacing-xxsmall;
        }
      }
    }
  }
}
